.mainValidations{color:red}
.sideValidation{color: red;}
.mandatory{color: red;}
.container{
  width:20%;
  margin:0 auto;
  padding:0 2em 2em 2em;
}
.formControl{
  min-height: 2em;
  margin:1em 0;
  width: 220px;
}
.btn-primary{
  color:white;
  background-color: lightslategray;
  cursor: pointer;
  margin:0 1em 0 0;
}
.btn-primary:hover {background-color: lightblue;}

.mainValidations{
  background-color: #ffe6e6;
  border:thin red solid;
}
#validationAdvice{
  padding:0 1em;
}
