.container {
  width:445px;
  margin:0 auto;
  padding:0 2em 2em 2em;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding:0 1em;
  text-align: left;
}

.showRecords{
  float: right;
}
