<div class="container" *ngIf="tableData.length>0">
  <h2>Limit and Retention Results</h2>
  <div>
    <table>
      <tr>
        <th>Reference Date</th>
        <th>Benchmark One</th>
        <th>Benchmark Two</th>
      </tr>
      <ng-template ngFor let-results [ngForOf]="tableData" let-i="index">
        <tr *ngIf="i<=this.showOfRecords-1 || this.showOfRecords ==0">
          <td>{{results.referenceDate}}</td>
          <td>{{results.benchMarkOne}}%</td>
          <td>{{results.benchMarkTwo}}%</td>
        </tr>
      </ng-template>
    </table>
    <form name="myform">
      <span>
        Total Records: {{tableData.length}}
      </span>
      <span class="showRecords">
        Show
        <select name="numberOfRecordsPerPage" (change)="submit($event.target)" ngModel>
          <option value="0" selected>all</option>
          <option  *ngFor="let index of [5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" value="{{ index }}">
            {{ index }}
          </option>
        </select>
        records
      </span>
    </form>
  </div>
</div>
